logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
.cache
lib/play-scala.jar
lib/play-scala-compiler.jar
.DS_Store
test-result
tmp
logs
eclipse
.#*
*~
*.~*
*.pyc
documentation/api
.scala_dependencies
.classpath
.settings
/.target
/bin
.settings
.worksheet/*
.worksheet/src/controllers.forTestPurposes.scala

.worksheet/bin/controllers/forTestPurposes$.class

.worksheet/bin/controllers/forTestPurposes$$anonfun$main$1.class

app/controllers/forTestPurposes.sc
