#subtle-images {
	background-image: url("../images/cream_dust.png");
}

#chart-cont {
	min-height: 400px;
}

#top-image {
	text-align: right;
}

#recc {
	text-align: center;
  background-color: #ceecb2;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
  background-color: white;
}
.container-narrow > hr {
  margin: 10px 0;
  color: white;
}

#main-div {
  padding-top: 10px;
}

#head-img {
  padding-bottom: 0px;
}

#search-box {
  padding-top: 20px;
  text-align: center;
  background-image: url("../images/diagmonds.png");
}

#search-box h1 {
  color: white;
  font-size: 50px;
}

#container-table {
  padding-top: 5px;
}

img.center { 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

#table-image {
  margin-top: -8px;
  margin-bottom: -8px;
}

#table-5 td {
  vertical-align: middle;
}

#my-hero h1 {
  text-align: left;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 20px;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -1px;
}

#small-search {
  margin-left: 0px;
}

#small-indent {
  font-size: 24px;
  color: #999999;
}

#main-text {
  margin: 0 auto;
  width: auto;
}

#my-suc {
  background-color: #ceecb2;
}

#my-err {
  background-color: #ecb5b2;
}

#my-avg {
  background-color: #fcf8e3;
}

#my-suc:hover {
  background-color: rgb(179,226,138);
}

#my-err:hover {
  background-color: rgb(255,171,155);
}

#samplem1 {
  background-color: grey;
  height: 1500px;
}

.affix {
  background-color: black;
}

.affix-top {
  background-color: black;
}

body {
  background-color: darkgrey;
}