@(gamePrices: List[GwithP], pd: String, priceStats: Option[PriceStats])

@import play.api.libs.json.Json._

@import viewhelpers.ViewHelp._

<!DOCTYPE html>

<html lang="en">
<head>
	<title>Buy Or Wait</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.9.1.custom.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body>

	<div class="container-narrow" id="main-div">

		<div class="row-fluid">
			<div id="my-hero">
				<h1>@{if (gamePrices.isEmpty) "No Name" else gamePrices.head.g.name }</h1>
			</div>
			<div id="small-search">
				<form class="form-search" action="@routes.Application.gameP()">
					<input type="search" id="searchbox" class="input-large autocomplete" name="g" placeholder="Search for a game..." data-url="@{routes.Application.autocompleteSearch()}" autocomplete="off" spellcheck="false">
				</form>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 well" id="recc">
				<h3>Recommendation: <font color="#51a351">buy</font> or <font color="#bd362f">don't buy</font> on Steam or neutral</h3>
			</div>
		</div>

		<hr>

		<div class="row-fluid">
			<div class="span6 mywell" id="barchart-cont">
			</div>
			<div class="span6 mywell">
				@priceStats.map{ stats =>
				<table class="table" id="my-table">
					<thead>
						<tr>
							<th colspan="2"><h4>Price Stats</h4></th>
							<th><h4>Store</h4></th>
							<th><h4>When</h4></th>
						</tr>
					</thead>
					<tbody>
						<tr id="my-suc">
							<td>Lowest</td>
							<td>$@nicePrice(stats.min)</td>
							<td>@stats.smin</td>
							<td>@stats.minD</td>
						</tr>
						<tr id="my-err">
							<td>Highest</td>
							<td>$@nicePrice(stats.max)</td>
							<td>@stats.smax</td>
							<td>@stats.maxD</td>
						</tr>
						<tr id="my-avg">
							<td>Average</td>
							<td>$@nicePrice(stats.avg)</td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>}.getOrElse(<div>N/A</div>)
			</div>
		</div>

		<div class="row-fluid">
			<div id="chart-cont"></div>
		</div>
	</div>

	<script src="http://code.jquery.com/jquery-latest.min.js"></script> 
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script src="@routes.Assets.at("javascripts/jquery-ui-1.9.1.custom.min.js")"></script> 
	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script> 
	<script src="@routes.Assets.at("javascripts/underscore-min.js")"></script> 

	<script src="@routes.Assets.at("javascripts/rainbowvis.js")"></script>
	<script src="@routes.Assets.at("javascripts/game/auto.js")"></script>
	<script src="@routes.Assets.at("javascripts/game/pricechart.js")"></script>
	<script src="@routes.Assets.at("javascripts/game/barchart.js")"></script>
	<script type="text/javascript">
		var data  = jQuery.parseJSON('@Html(toJson(gamePrices.map(x => toJson(Map("y" -> toJson(x.p.priceOnX), "url" -> toJson(x.g.storeUrl))))).toString)');
		var names = jQuery.parseJSON('@Html(toJson(gamePrices.map(x => toJson(x.g.store))).toString)');
		var ldata = jQuery.parseJSON('@Html(pd)');
			pricechart(ldata);
	</script>

</body>
</html>