<!DOCTYPE html>

<html lang="en">
<head>
	<title>Buy On Steam</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui-1.9.1.custom.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

</head>
<body>

	<div class="container-fluid" id="samplem1">
		<div class="row-fluid">
			<div class="span4">
				<div data-spy="affix" data-offset-top="60" class="well"></div>
			</div>

			<div class="span8">
			</div>
		</div>
	</div>

	<script src="http://code.jquery.com/jquery-latest.min.js"></script> 
	<script src="@routes.Assets.at("javascripts/jquery-ui-1.9.1.custom.min.js")"></script> 
	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script> 

</body>
</html>